<!-- PAGE-HEADER -->
<div class="page-header">
    <h1 class="page-title"></h1>
    <div>
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="javascript:void(0)">Product Manager</a></li>
            <li class="breadcrumb-item active" aria-current="page"><%- isUpdate ? 'Update' : 'Add' %> Product</li>
        </ol>
    </div>
</div>
<!-- PAGE-HEADER END -->

<!-- ROW-1 OPEN -->
<!-- Row -->
<div class="row ">
    <div class="col-lg-12">
        <div class="card" id="add-product-form">
            <input type="hidden" class="form-control" name="id" value="<%- locals.id ? id : ''%>">
            <div class="card-header">
                <div class="card-title"><%- isUpdate ? 'Update' : 'Add New ' %> Product</div>
            </div>
            <div class="card-body">
                <div class="row mb-4">
                    <label class="col-md-3 form-label">Product Name :</label>
                    <div class="col-md-9">
                        <input type="text" class="form-control" placeholder="Product Name" name="name" value="">
                    </div>
                </div>
                <div class="row mb-4">
                    <label class="col-md-3 form-label">Price :</label>
                    <div class="col-md-9">
                        <input type="number" class="form-control" name="price" value="">
                    </div>
                </div>
                <div class="row mb-4">
                    <label class="col-md-3 form-label">Size :</label>
                    <div class="col-md-9">
                        <input type="text" class="form-control" name="size" value="">
                    </div>
                </div>
                <div class="row mb-4">
                    <label class="col-md-3 form-label">Category :</label>
                    <div class="col-md-9">
                        <select name="category" class="form-control form-select select2 categoryList" data-bs-placeholder="Select Category">
                        </select>
                    </div>
                </div>
                <div class="row mb-4">
                    <label class="col-md-3 form-label">Status :</label>
                    <div class="form-group col-md-9">
                        <label class="custom-switch form-switch">
                            <input type="checkbox" name="status" class="custom-switch-input form-control" checked>
                            <span class="custom-switch-indicator custom-switch-indicator-lg"></span>
                            <span class="custom-switch-description"></span>
                        </label>
                    </div>
                </div>

                <!-- Row -->
                <div class="row">
                    <label class="col-md-3 form-label mb-4">Product Description :</label>
                    <div class="col-md-9 mb-4">
                        <textarea class="form-control" name="description"></textarea>
                    </div>
                </div>
                <!--End Row-->

                <!--Row-->
                <div class="row">
                    <label class="col-md-3 form-label mb-4">Product Image:</label>
                    <div class="col-md-9">
                        <div class="custom-file-container" data-upload-id="imageSelector">
                            <label>Upload Image
                                <a href="javascript:void(0)"
                                        class="custom-file-container__image-clear"
                                        title="Clear Image">&times;</a></label>
                            <label class="custom-file-container__custom-file">
                                <input class="form-control custom-file-container__custom-file__custom-file-input"
                                       type="file" name="images"
                                       accept=".jpg, .png, image/jpeg, image/png" aria-label="Choose Images">
                                <input type="hidden" name="MAX_FILE_SIZE" value="10485760" />
                                <span class="custom-file-container__custom-file__custom-file-control"></span>
                            </label>
                            <div class="custom-file-container__image-preview"></div>
                        </div>
                    </div>
                </div>
                <!--End Row-->
            </div>
            <div class="card-footer">
                <!--Row-->
                <div class="row">
                    <div class="col-md-3"></div>
                    <div class="col-md-9">
                        <a href="javascript:void(0)" class="btn btn-primary" onclick="<%if (isUpdate) {%>  ProductManager.update();  <%} else {%> ProductManager.add(); <%}%>"><%- isUpdate ? 'Update' : 'Add' %> Product</a>
                    </div>
                </div>
                <!--End Row-->
            </div>
        </div>
    </div>
</div>
<!-- /Row -->