<!-- CONTAINER -->
<div class="main-container container-fluid">

    <!-- PAGE-HEADER -->
    <div class="page-header">
        <h1 class="page-title">Banner List</h1>
        <div>
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="javascript:void(0)">Product Manager</a></li>
                <li class="breadcrumb-item active" aria-current="page">Banner List</li>
            </ol>
        </div>
    </div>
    <!-- PAGE-HEADER END -->

    <div class="hide">
        <div class="col-md-6 col-xl-4 col-sm-6 bannerListTemplate">
            <div class="card">
                <div class="product-grid6">
                    <div class="product-image6 p-5">
                        <ul class="icons">
                            <li>
                                <a href="javascript:void(0);" class="btn btn-primary"> <i class="fe fe-eye">  </i> </a>
                            </li>
                            <li><a href="javascript:void(0);" class="btn btn-success"><i  class="fe fe-edit"></i></a></li>
                            <li><a href="javascript:void(0)" class="btn btn-danger"><i class="fe fe-x"></i></a></li>
                        </ul>
                        <a href="javascript:void(0);" class="bg-light">
                            <img class="img-fluid br-7 w-100 bannerImage" src="" alt="img">
                        </a>
                    </div>
                    <div class="card-body pt-0">
                        <div class="product-content text-center">
                            <h1 class="title fw-bold fs-20"><a href="javascript:void(0);" class="bannerName">Test Banner</a></h1>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- ROW-1 OPEN -->
    <div class="row row-cards">
        <!-- COL-END -->
        <div class="col-xl-9 col-lg-8">
            <div class="row">
                <div class="col-xl-12">
                    <div class="card p-0">
                        <div class="card-body p-4">
                            <div class="row">
                                <div class="col-xl-5 col-lg-8 col-md-8 col-sm-8">
                                    <div class="input-group d-flex w-100 float-start">
                                        <input type="text" class="form-control border-end-0 my-2" placeholder="Search ...">
                                        <button class="btn input-group-text bg-transparent border-start-0 text-muted my-2">
                                            <i class="fe fe-search text-muted" aria-hidden="true"></i>
                                        </button>
                                    </div>
                                </div>
                                <div class="col-xl-3 col-lg-12">
                                    <a href="#add-banner" class="btn btn-primary btn-block float-end my-2"><i class="fa fa-plus-square me-2"></i>New Banner</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="tab-content">
                <div class="tab-pane active" id="tab-11">
                    <div class="row bannerListGroup">
                    </div>
                </div>
            </div>
            <!-- COL-END -->
        </div>
        <!-- ROW-1 CLOSED -->
    </div>
    <!-- ROW-1 END -->
</div>
<!-- CONTAINER CLOSED -->